<div class="container  px-8 px-sm-8">
  <div class="row">
    <div class="col-md-7">
      <div class="p-3 mb-2">ジャンル編集</div>
        <%= form_with model: @genre,url: admin_genre_path(@genre.id),local:true do |f| %>
          <table class="table ">
            <thead class="thead-light">
              <tr>
                <td>ジャンル名</td>
                <td><%= f.text_field :name %></td>
                <td><%= f.submit '変更を保存',class:"btn btn-outline-danger"  %></td>
              </tr>
            </thead>
          </table>
        <% end %>
    </div>
  </div>
</div>